.App {
  text-align: center;
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Header {
  text-decoration: none;
  color: black;
}

#loadingMessage {
  justify-items: center;
}

#filtersSortBy {
  margin: 20px;
}

.category-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.category-option {
  border: 3px solid blue;
  padding: 8px;
  display: inline;
}
/* ALL REVIEWS COMPONENT*/

.review-card {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 20em;
  max-height: 25em;
  margin: 5px;
  text-align: left;
  /* border: 1.5px solid black; */
}

.review-card-details {
  text-align: left;
}

.review-card-title {
}

.review-card-image {
  height: 250px;
  width: 20em;
  object-fit: cover;
}

.review-card-date {
  display: block;
}

.review-card-votes {
  justify-content: right;
  margin-left: 20px;
  align-self: flex-start; /* border: 2px solid blue; */
}

/* END OF ALL REVIEWS COMPONENT*/

/* SINGLE REVIEW VIEW COMPONENT*/

.fullReviewDetails {
  display: flex;
  border: 3px solid green;
  align-content: stretch;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.review-overview {
  max-width: 50%;
  /* border: 3px solid fuchsia; */
  flex: 3;
}

#postedDate {
  font-size: 75%;
  font-style: normal;
}

.review-full-details {
  /* max-width: 50%; */
  margin: 5px;
}

.review-voting {
  align-self: flex-start;
  padding: 10px;
}

#voting-button {
  font-size: 25px;
}
#reviewBody {
  font-size: 20px;
  font-weight: 25;
  font-style: italic;
}
@media (min-width: 784px) {
  .fullReviewDetails {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat (2, 1fr);
  }

  .review-voting {
    grid-column: 2/-1;
  }
}

/* END OF SINGLE REVIEW */

/* comments section */

/* submit new comment */

.new-comment-form {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#form-username {
  margin: 5px;
  font-size: 1em;
}

#form-comment-field {
  margin: 5px;
  align-self: flex-start;
}

#form-comment {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

#form-button {
  font-size: 1em;
}

#thanks-comment {
  margin-left: 15px;
}
/* end of new comment*/

.commentsSection {
  border: 3px solid purple;
  display: inline-block;
  width: 100%;
}

#comment-section-heading {
  text-align: left;
  padding-left: 20px;
  border-bottom: 3px solid purple;
}
.commentCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 3px solid red;
  list-style-type: none;
}

.comment-details {
  grid-column: 1/-1;
  margin-left: 25px;
  display: grid;
  align-content: space-evenly;
  width: 100%;
  justify-items: left;
  grid-template-columns: 1fr 1fr;
}

#comment-date {
  grid-column: 1/-1;
}

.profile-pic {
  grid-column: 1/-1;
  max-width: 200px;
  object-fit: contain;
}

.comment-body {
  text-align: left;
  /* display: grid; */
  align-content: space-evenly;
  grid-column: 1/3;
  grid-template-rows: 2fr 1fr;
  /* margin: 25px; */
  /* margin-top: 0px; */
}

#comment-text {
  font-size: 20px;
  font-weight: normal;
}

/* END OF comments section */
