.App {
  text-align: center;
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Header {
  text-decoration: none;
  color: black;
}

#loadingMessage {
  justify-items: center;
}

#filtersSortBy {
  margin: 20px;
}
.reviewCard {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: left;
  max-width: 20em;
  max-height: 25em;
  margin: 5px;
  /* border: 1.5px solid black; */
}

.reviewTitle {
  text-align: left;
}

.cardImage {
  flex-grow: 2;
  height: 250px;
  width: 20em;
  object-fit: cover;
}

#reviewDate {
  text-align: left;
}

#votesCount {
  justify-content: right;
  border: 2px solid blue;
}
