.App {
  text-align: center;
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 25px;
}

@media (min-width: 1120px) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Header {
  text-decoration: none;
  color: black;
}

#loadingMessage {
  justify-items: center;
}

#filtersSortBy {
  margin: 20px;
}

/* ALL REVIEWS COMPONENT*/

.review-card {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 20em;
  max-height: 25em;
  margin: 5px;
  text-align: left;
  /* border: 1.5px solid black; */
}

.review-card-details {
  text-align: left;
}

.review-card-title {
}

.review-card-image {
  height: 250px;
  width: 20em;
  object-fit: cover;
}

.review-card-date {
}

.review-card-votes {
  justify-content: right;
  margin-left: 20px;
  /* border: 2px solid blue; */
}

/* END OF ALL REVIEWS COMPONENT*/

/* SINGLE REVIEW VIEW COMPONENT*/

.fullReviewDetails {
  display: flex;
}
.LHSReviewDetails {
  max-width: 50%;
  /* border: 3px solid fuchsia; */
  object-fit: contain;
}

#postedDate {
  font-size: 75%;
  font-style: normal;
}
.RHSReviewDetails {
  max-width: 50%;
  align-content: right;
  margin: 5px;
  position: relative;
  /* border: 3px solid green; */
}

#voting {
  position: inherit;
  bottom: 0%;
}
#reviewBody {
  font-size: 20px;
  font-weight: 25;
  font-style: italic;
}

/* END OF SINGLE REVIEW */

/* comments section */

.commentsSection {
  border: 3px solid purple;
}

#comment-section-heading {
  text-align: left;
  border-bottom: 3px solid purple;
}
.commentCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 3px solid red;
  list-style-type: none;
}

.comment-details {
  text-align: center;
  margin-left: 25px;
  display: grid;
  align-items: center;
  align-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}

#comment-date {
  grid-column: 1/-1;
}

.profile-pic {
  width: 100%;
  grid-column: 1/2;
  object-fit: contain;
}

.comment-body {
  text-align: left;
  display: grid;
  align-content: space-evenly;

  grid-template-rows: 2fr 1fr;
  margin: 25px;
  margin-top: 0px;
}

#comment-text {
  font-size: 20px;
}

/* END OF comments section */
